<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.cz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Pixel Pioneer Course</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="content-wrapper" layout:fragment="contents">
    <div class="container">
        Payment History
        <div class="mdk-header-layout__content page-content">
            <div class="page-section container page__container">
                <div class="col-lg-10 p-0 mx-auto">
                    <div class="page-separator">
                        <div class="page-separator__text">Enrollments</div>
                    </div>
                    <div class="card mb-lg-32pt">
                        <div class="table-responsive">
                            <table id="enrollmentTable" class="table mb-0 thead-border-top-0 table-nowrap">
                                <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Status</th>
                                    <th>Subscription Type</th>
                                    <th>Payment Date</th>
                                    <th>Subscription End Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="enrollment : ${enrollments}">
                                    <td th:text="${enrollment.user.getFullName()}"></td>
                                    <td th:text="${enrollment.subscriptionStatus ? 'Active' : 'Inactive'}"></td>
                                    <td th:text="${enrollment.subscriptionType}"></td>
                                    <td th:text="${enrollment.paymentDate}"></td>
                                    <td th:text="${enrollment.subscriptionEndDate}"></td>
                                    <td>
                                        <a th:href="@{'/app/enrollments/view-detail-enrollment/' + ${enrollment.id}}" class="btn btn-sm btn-primary">View Detail</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- /.content -->
</div>
</body>
</html>
