<!-- src/main/resources/templates/layout.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="layout">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap" rel="stylesheet">

    <link th:href="@{/public/vendor/spinkit.css}" rel="stylesheet">
    <link th:href="@{/public/vendor/perfect-scrollbar.css}" rel="stylesheet">
    <link th:href="@{/public/css/material-icons.css}" rel="stylesheet">
    <link th:href="@{/public/css/fontawesome.css}" rel="stylesheet">
    <link th:href="@{/public/css/preloader.css}" rel="stylesheet">
    <link th:href="@{/public/css/app.css}" rel="stylesheet">

    <title th:text="${pageTitle}">Default title</title>
</head>
<body class="layout-sticky-subnav layout-default">


<header th:replace="layout/header :: header"></header>
<main>
    <div th:replace="layout/fragments/flash-messages :: flashMessages"></div>
    <div layout:decorate="~{ ::content}"></div>
</main>
<footer th:replace="layout/footer :: footer"></footer>
<script th:replace="layout/scripts :: scripts"></script>
</body>
</html>
