<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pixel Pioneer Course</title>
    <link rel="icon" th:href="@{/public/images/logo.jpg}"/>
    

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">


    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
          rel="stylesheet">

    <!-- Preloader -->
    <link th:href="@{/public/vendor/spinkit.css}" rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link th:href="@{/public/vendor/perfect-scrollbar.css}" rel="stylesheet">

    <!-- Material Design Icons -->
    <link th:href="@{/public/css/material-icons.css}" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link th:href="@{/public/css/fontawesome.css}" rel="stylesheet">

    <!-- Preloader -->
    <link th:href="@{/public/css/preloader.css}" rel="stylesheet">

    <!-- App CSS -->
    <link th:href="@{/public/css/app.css}" rel="stylesheet">

    <!-- Quill Theme -->
    <link th:href="@{/public/css/quill.css}" rel="stylesheet">

    <!-- Select2 -->
    <link th:href="@{/public/vendor/select2/select2.min.css}" rel="stylesheet">
    <link th:href="@{/public/css/select2.css}" rel="stylesheet">
    <style>
        .alert-success-custom {
            background-color: #28a745; /* Bright green */
            color: #ffffff; /* White text */
            border: none;
        }
        .container {
            max-width: 1800px;
            margin: 0 auto;
        }
        .container-footer {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>


</head>

<body class="layout-sticky-subnav layout-default ">

<div class="preloader">
    <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>
</div>

<!-- Header Layout -->
<div class="mdk-header js-mdk-header mb-0">

    <!-- Header -->
    <div id="header"
         class="mdk-header mdk-header--bg-dark bg-dark js-mdk-header mb-0"
         data-effects="parallax-background waterfall"
         data-fixed
         data-condenses>
        <div class="mdk-header__bg-front"
             th:style="|background-image: url('&quot;' + @{/public/images/photodune-4161018-group-of-students-m.jpg} + '&quot;');|"></div>


    </div>
    <div class="mdk-header__content justify-content-center">

        <div class="navbar navbar-expand navbar-dark-pickled-bluewood will-fade-background"
             id="default-navbar"
             data-primary>

            <!-- Navbar toggler -->
            <button class="navbar-toggler w-auto mr-16pt d-block rounded-0"
                    type="button"
                    data-toggle="sidebar">
                <span class="material-icons">short_text</span>
            </button>

            <!-- Navbar Brand -->
            <a th:href="@{/}" class="navbar-brand mr-16pt">
                        <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">
                            <span class="avatar-title rounded bg-primary">
                                <img th:src="@{/public/images/logo.jpg}"
                                     alt="logo"
                                     class="img-fluid"/>
                            </span>
                        </span>
            </a>

            <ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
                <li class="nav-item active">
                    <a th:href="@{/}" class="nav-link">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                        Courses
                    </a>
                    <div class="dropdown-menu">
                        <a th:href="@{/app/course/}" class="dropdown-item">Browse Courses</a>
                        <a th:href="@{/app/course/my-courses}" class="dropdown-item">My Courses</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                        Paths
                    </a>
                    <div class="dropdown-menu">
                        <a th:href="@{/paths.html}" class="dropdown-item">Browse Paths</a>
                        <a th:href="@{/student-path.html}" class="dropdown-item">Path Details</a>
                        <a th:href="@{/student-path-assessment.html}" class="dropdown-item">Skill Assessment</a>
                        <a th:href="@{/student-path-assessment-result.html}" class="dropdown-item">Skill
                            Result
                        </a>
                        <a th:href="@{/student-paths.html}" class="dropdown-item">My Paths</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a th:href="@{/pricing.html}" class="nav-link">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                        Teachers
                    </a>
                    <div class="dropdown-menu">
                        <a th:href="@{/instructor-dashboard.html}" class="dropdown-item">Instructor Dashboard
                        </a>
                        <a th:href="@{/instructor-courses.html}" class="dropdown-item">Manage Courses</a>
                        <a th:href="@{/instructor-quizzes.html}" class="dropdown-item">Manage Quizzes</a>
                        <a th:href="@{/instructor-earnings.html}" class="dropdown-item">Earnings</a>
                        <a th:href="@{/instructor-statement.html}" class="dropdown-item">Statement</a>
                        <a th:href="@{/instructor-edit-course.html}" class="dropdown-item">Edit Course</a>
                        <a th:href="@{/instructor-edit-quiz.html}" class="dropdown-item">Edit Quiz</a>
                    </div>
                </li>
                <li class="nav-item dropdown"
                    data-toggle="tooltip"
                    data-title="Community"
                    data-placement="bottom"
                    data-boundary="window">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                        <i class="material-icons">people_outline</i>
                    </a>
                    <div class="dropdown-menu">
                        <a th:href="@{/teachers.html}" class="dropdown-item">Browse Teachers</a>
                        <a th:href="@{/student-profile.html}" class="dropdown-item">Student Profile</a>
                        <a th:href="@{/teacher-profile.html}" class="dropdown-item">Instructor Profile</a>
                        <a th:href="@{/blog.html}" class="dropdown-item">Blog</a>
                        <a th:href="@{/blog-post.html}" class="dropdown-item">Blog Post</a>
                        <a th:href="@{/faq.html}" class="dropdown-item">FAQ</a>
                        <a th:href="@{/help-center.html}" class="dropdown-item">Help Center</a>
                        <a th:href="@{/discussions.html}" class="dropdown-item">Discussions</a>
                        <a th:href="@{/discussion.html}" class="dropdown-item">Discussion Details</a>
                        <a th:href="@{/discussions-ask.html}" class="dropdown-item">Ask Question</a>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav ml-auto mr-0">
                <li class="nav-item" th:if="${session.user == null}">
                    <a th:href="@{/app/login}" class="nav-link" data-toggle="tooltip" data-title="Login"
                       data-placement="bottom" data-boundary="window">
                        <i class="material-icons">lock_open</i>
                    </a>
                </li>
                <li class="nav-item" th:if="${(session.enrollment==null || session.enrollment.subscriptionStatus == false) && session.user != null}">
                    <a th:href="@{/app/enrollments}" class="btn btn-outline-white">Get Started</a>
                </li>
                <li class="nav-item" th:if="${session.user == null}">
                    <a th:href="@{/app/register}" class="btn btn-outline-white">Register</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- // END Header -->

<!-- Header Layout Content -->
<div class="mdk-header-layout__content page-content ">
    <div>
        <!-- Success Message -->
        <div th:if="${successMessage}" class="alert alert-success-custom alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="d-flex flex-wrap align-items-start">
                <div class="mr-8pt">
                    <i class="material-icons">check_circle</i>
                </div>
                <div class="flex" style="min-width: 180px">
                    <small>
                        <strong>Success - </strong> <span th:text="${successMessage}"></span>
                    </small>
                </div>
            </div>
        </div>
        <!-- Error Message -->
        <div th:if="${errorMessage}" class="alert bg-accent text-white border-0 alert-dismissible fade show"
             role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="d-flex flex-wrap align-items-start">
                <div class="mr-8pt">
                    <i class="material-icons">error</i>
                </div>
                <div class="flex" style="min-width: 180px">
                    <small>
                        <strong>Error - </strong> <span th:text="${errorMessage}"></span>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" layout:fragment="contents">
        <!--                    Insert contents-->
    </div>
</div>
<!-- // END Header Layout Content -->

<!-- Footer -->
<div class="container-footer">
<div class="bg-white border-top-2 mt-auto">
    <div class="container page__container page-section d-flex flex-column">
        <p class="text-70 brand mb-24pt">
            <a th:href="@{/}" class="text-70 text-underline mr-8pt small">
            <img th:src="@{/public/images/logo.jpg}" class="brand-icon" width="30" alt="Luma"></a>
            Pixel Pioneer Course
        </p>
        <p>Pixel Pioneer Course is a beautifully crafted user interface for modern education platforms,
            encompassing a range of functionalities including Courses & Tutorials, Video Lessons, Student and Teacher
            Dashboards, and Curriculum Management.
            It provides a comprehensive and user-friendly experience for both learners and educators, enhancing the
            efficiency and effectiveness of online education.
        </p>
        <p class="mb-8pt d-flex">
            <a href="" class="text-70 text-underline mr-8pt small">Terms</a>
            <a href="" class="text-70 text-underline small">Privacy policy</a>
        </p>
        <div>
            <p class="text-50 small mt-n1 mb-0">© 2024 Pixel Pioneer Course</p>

        </div>
    </div>
</div>
    <!-- // END Footer -->

</div>
<!-- // END Header Layout -->
<div class="mdk-drawer js-mdk-drawer" id="default-drawer">
    <div class="mdk-drawer__content">
        <div class="sidebar sidebar-dark-pickled-bluewood sidebar-left" data-perfect-scrollbar>

            <!-- Sidebar Content -->
            <!-- <div class="d-flex align-items-center navbar-height">
                <form th:action="@{/}" class="search-form search-form--black mx-16pt pr-0 pl-16pt">
                    <input type="text" class="form-control pl-0" placeholder="Search">
                    <button class="btn" type="submit">
                        <i class="material-icons">search</i>
                    </button>
                </form>
            </div>  -->

            <a th:href="@{/}" class="sidebar-brand ">
                        <span class="avatar avatar-xl sidebar-brand-icon h-auto">
                            <span class="avatar-title rounded bg-primary">
                                <img th:src="@{/public/images/logo.jpg}" class="img-fluid"
                                     alt="logo"/>
                            </span>
                        </span>
                <span>Pixel Pioneer Course</span>
            </a>

            <div class="sidebar-heading" th:if="${session.isUser}">Student</div>
            <ul class="sidebar-menu" th:if="${session.isUser}">
                <li class="sidebar-menu-item active">
                    <a class="sidebar-menu-button" th:href="@{/app/users/profile/{id}(id=${session.userId})}">
                        <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">face</span>
                        <span class="sidebar-menu-text">Profile</span>
                    </a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" th:href="@{/app/course/}">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library
                                </span>
                        <span class="sidebar-menu-text">Browse Courses</span>
                    </a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" th:href="@{/}">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_box
                                </span>
                        <span class="sidebar-menu-text">User Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" th:href="@{/app/enrollments/user-history-enrollment}">
                        <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">layers</span>
                        <span class="sidebar-menu-text">Enrollment</span>
                    </a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" th:href="@{/}">
                        <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">search</span>
                        <span class="sidebar-menu-text">Payment History</span>
                    </a>
                </li>
            </ul>

            <div class="sidebar-heading" th:if="${session.isInstructor}">Instructor</div>
            <ul class="sidebar-menu" th:if="${session.isInstructor}">
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" th:href="@{/instructor-dashboard.html}">
                        <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">school</span>
                        <span class="sidebar-menu-text">Instructor Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" th:href="@{/instructor-courses.html}">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">import_contacts
                                </span>
                        <span class="sidebar-menu-text">Manage Courses</span>
                    </a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" th:href="@{/app/enrollments/user-history-enrollment}">
                        <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">help</span>
                        <span class="sidebar-menu-text">Enrollment Management</span>
                    </a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" th:href="@{/instructor-earnings.html}">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">trending_up
                                </span>
                        <span class="sidebar-menu-text">Earnings</span>
                    </a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" th:href="@{/instructor-statement.html}">
                        <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">receipt</span>
                        <span class="sidebar-menu-text">Statement</span>
                    </a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" th:href="@{/instructor-edit-course.html}">
                        <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">post_add</span>
                        <span class="sidebar-menu-text">Edit Course</span>
                    </a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" th:href="@{/instructor-edit-quiz.html}">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">format_shapes
                                </span>
                        <span class="sidebar-menu-text">Edit Quiz</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-heading" th:if="${session.isAdmin}">Admin - Management</div>
            <ul class="sidebar-menu" th:if="${session.isAdmin}">
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button"
                       data-toggle="collapse"
                       href="#user_menu">
                        <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_box</span>
                        User
                        <span class="ml-auto sidebar-menu-toggle-icon"></span>
                    </a>
                    <ul class="sidebar-submenu collapse sm-indent"
                        id="user_menu">
		                <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" th:href="@{/app/admin/users}">
                                <span class="sidebar-menu-text">General</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" th:href="@{/app/admin/users/create}">
                                <span class="sidebar-menu-text">Create</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button"
                       data-toggle="collapse"
                       href="#role_menu">
                        <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">work</span>
                        Role
                        <span class="ml-auto sidebar-menu-toggle-icon"></span>
                    </a>
                    <ul class="sidebar-submenu collapse sm-indent"
                        id="role_menu">
		                <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" th:href="@{/app/admin/role}">
                                <span class="sidebar-menu-text">General</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" th:href="@{/app/admin/role/create}">
                                <span class="sidebar-menu-text">Create</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="sidebar-heading" th:if="${session.user != null}">Components</div>
            <ul class="sidebar-menu" th:if="${session.user != null}">
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button"
                       data-toggle="collapse"
                       href="#components_menu">
                        <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">tune</span>
                        Settings
                        <span class="ml-auto sidebar-menu-toggle-icon"></span>
                    </a>
                    <ul class="sidebar-submenu collapse sm-indent"
                        id="components_menu">
		                <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" th:href="@{/app/users/profile/edit-my-profile}">
                                <span class="sidebar-menu-text">Edit Profile</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" th:href="@{/app/reset-password}">
                                <span class="sidebar-menu-text">Reset Password</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" th:href="@{/logout}">
                                <span class="sidebar-menu-text">Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="sidebar-heading" th:if="${session.user == null}" style="text-align: center;">Please login/register to gain access to our applications.</div>

            <!-- // END Sidebar Content -->

        </div>
    </div>
</div>
<!-- // END Drawer -->

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap -->
<script th:src="@{/public/vendor/popper.min.js}"></script>
<script th:src="@{/public/vendor/bootstrap.min.js}"></script>

<!-- Perfect Scrollbar -->
<script th:src="@{/public/vendor/perfect-scrollbar.min.js}"></script>

<!-- DOM Factory -->
<script th:src="@{/public/vendor/dom-factory.js}"></script>

<!-- MDK -->
<script th:src="@{/public/vendor/material-design-kit.js}"></script>

<!-- App JS -->
<script th:src="@{/public/js/app.js}"></script>

<!-- Preloader -->
<script th:src="@{/public/js/preloader.js}"></script>

<!-- Quill -->
<script th:src="@{/public/vendor/quill.min.js}"></script>
<script th:src="@{/public/js/quill.js}"></script>

<!-- Select2 -->
<script th:src="@{/public/vendor/select2/select2.min.js}"></script>
<script th:src="@{/public/js/select2.js}"></script>
<th:block layout:fragment="script"></th:block>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Close the alert when the close button is clicked
        document.querySelectorAll('.btn-close').forEach(button => {
            button.addEventListener('click', function () {
                this.closest('.alert').style.display = 'none';
            });
        });
    });
</script>
</body>
</html>