<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

		<!-- jQuery -->
		<script th:src="@{/public/vendor/jquery.min.js}"></script>

		<!-- Bootstrap -->
		<script th:src="@{/public/vendor/popper.min.js}"></script>
	    <script th:src="@{/public/vendor/bootstrap.min.js}"></script>
	
	    <!-- Perfect Scrollbar -->
	    <script th:src="@{/public/vendor/perfect-scrollbar.min.js}"></script>
	
	    <!-- DOM Factory -->
	    <script th:src="@{/public/vendor/dom-factory.js}"></script>
	
	    <!-- MDK -->
	    <script th:src="@{/public/vendor/material-design-kit.js}"></script>
	
	    <!-- App JS -->
	    <script th:src="@{/public/js/app.js}"></script>
	
	    <!-- Preloader -->
	    <script th:src="@{/public/js/preloader.js}"></script>
		<!-- Quill -->
		<script th:src="@{/public/vendor/quill.min.js}"></script>
		<script th:src="@{/public/js/quill.js}"></script>
		<!-- Select2 -->
		<script th:src="@{/public/vendor/select2/select2.min.js}"></script>
		<script th:src="@{/public/js/select2.js}"></script>
</head>
</html>
