<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <title>Pixel Pioneer Course - User General</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="content-wrapper" layout:fragment="contents">
      <div class="container"></div>
      <div class="">
        <div class="container page__container page-section" style="width: 300vw;">
          <div class="page-separator">
            <div class="page-separator__text">Users</div>
          </div>
          <div class="d-flex align-items-center navbar-height">
            <form id="search-form" class="search-form search-form--black mx-16pt pr-0 pl-16pt" style="color: white;">
              <input type="text" id="search-input" style="color: white;" name="query" class="form-control pl-0" placeholder="Search users">
            </form>
          </div>
          <div class="card mb-lg-32pt">
            <div class="table-responsive" data-toggle="lists" data-lists-sort-by="js-lists-values-employee-name" data-lists-values='["js-lists-values-employee-name", "js-lists-values-employer-name", "js-lists-values-projects", "js-lists-values-activity", "js-lists-values-earnings"]'>
              <!-- Add conditionals for error and success messages -->
              <div th:if="${ErrorCondition}" class="alert alert-danger" role="alert">
                <span style="color: red; font-weight: bold;" th:text="${ErrorError}"></span>
              </div>
              <div th:if="${SuccessCondition}" class="alert alert-primary" role="alert">
                <span style="color: green; font-weight: bold;" th:text="${SuccessSuccess}"></span>
              </div>
              <table class="table mb-0 thead-border-top-0 table-nowrap">
                <thead>
                  <tr>
                    <th>
                      <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-employee-name">ID</a>
                    </th>
                    <th style="width: 150px;">
                      <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-employee-name">Full Name</a>
                    </th>
                    <th style="width: 150px;">
                      <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-employee-name">Username</a>
                    </th>
                    <th style="width: 150px;">
                      <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-employee-name">Email</a>
                    </th>
                    <th style="width: 150px;">
                      <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-employee-name">Phone</a>
                    </th>
                    <th style="width: 150px;">Status</th>
                    <th style="width: 120px;">
                      <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-employee-name">Created At</a>
                    </th>
                    <th style="width: 150px;">
                      <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-employee-name">Provider</a>
                    </th>
                    <th style="width: 150px;">
                      <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-employee-name">Action</a>
                    </th>
                  </tr>
                </thead>
                <tbody class="list" id="usersList">
                  <tr th:each="user : ${users}" class="selected">
                    <td>
                      <strong class="js-lists-values-employee-name" th:text="${user.id}">ID</strong>
                    </td>
                    <td>
                      <p class="js-lists-values-employee-name" th:text="${user.fullName}">Fullname</p>
                    </td>
                    <td>
                      <p class="js-lists-values-employee-name" th:text="${user.username}">Username</p>
                    </td>
                    <td>
                      <p class="js-lists-values-employee-name" th:text="${user.email}">Email</p>
                    </td>
                    <td>
                      <p class="js-lists-values-employee-name" th:text="${user.phone}">Phone</p>
                    </td>
                    <td>
                      <p class="js-lists-values-employee-name">
                        <span th:if="${user.activeStatus}" class="badge bg-success" style="height: 3vh; color: white;">Active</span>
                        <span th:if="${!user.activeStatus}" class="badge bg-danger" style="height: 3vh; color: white;">Inactive</span>
                      </p>
                    </td>
                    <td>
                      <p class="js-lists-values-employee-name" th:text="${#temporals.format(user.createdAt, 'dd-MM-yyyy')}">Create at</p>
                    </td>
                    <td>
                      <p class="js-lists-values-employee-name" th:text="${user.provider}">Provider</p>
                    </td>
                    <td>
                      <div style="display: flex; flex-wrap: nowrap; gap: 10px;">
                        <div th:if="${user.id != session.userId and user.role.roleName == 'ROLE_ADMIN'}">
                          <div th:if="${user.activeStatus and user.id != userId}">
                            <form id="deactivate" th:action="@{/app/admin/users/deactivate}" method="post" style="margin: 0;">
                              <input type="hidden" name="uid" th:value="${user.id}" />
                              <button type="submit" class="btn btn-secondary btn-rounded">Deactivate</button>
                            </form>
                          </div>
                          <div th:if="${!user.activeStatus and user.id != userId}">
                            <form id="activate" th:action="@{/app/admin/users/activate}" method="post" style="margin: 0;">
                              <input type="hidden" name="uid" th:value="${user.id}" />
                              <button type="submit" class="btn btn-accent btn-rounded">Activate</button>
                            </form>
                          </div>
                        </div>
                        <div th:if="${user.role.roleName != 'ROLE_ADMIN'}">
                          <div th:if="${user.activeStatus and user.id != userId}">
                            <form id="deactivate" th:action="@{/app/admin/users/deactivate}" method="post" style="margin: 0;">
                              <input type="hidden" name="uid" th:value="${user.id}" />
                              <button type="submit" class="btn btn-secondary btn-rounded">Deactivate</button>
                            </form>
                          </div>
                          <div th:if="${!user.activeStatus and user.id != userId}">
                            <form id="activate" th:action="@{/app/admin/users/activate}" method="post" style="margin: 0;">
                              <input type="hidden" name="uid" th:value="${user.id}" />
                              <button type="submit" class="btn btn-accent btn-rounded">Activate</button>
                            </form>
                          </div>
                          <form id="update" th:action="@{/app/admin/users/update}" method="post" style="margin: 0;">
                            <input type="hidden" th:value="${user.id}" name="id"/>
                            <button type="submit" class="btn btn-primary btn-rounded">Modify</button>
                          </form>
                          <form id="delete" th:action="@{/app/admin/users/delete}" method="post" style="margin: 0;">
                            <input type="hidden" th:value="${user.id}" name="uid"/>
                            <button type="submit" class="btn btn-dark btn-rounded">Delete</button>
                          </form>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer p-8pt">
              <ul class="pagination justify-content-start pagination-xsm m-0" id="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Page 1">
                    <span>1</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Page 2">
                    <span>2</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          const searchInput = document.getElementById('search-input');
          searchInput.addEventListener('keyup', function() {
            const query = searchInput.value;
            fetch(`/app/admin/users/search?query=${query}`)
              .then(response => response.json())
              .then(data => {
                const usersList = document.getElementById('usersList');
                usersList.innerHTML = '';
                data.forEach(user => {
                  const userRow = document.createElement('tr');
                  userRow.innerHTML = `
                    <td><strong class="js-lists-values-employee-name">${user.id}</strong></td>
                    <td><p class="js-lists-values-employee-name">${user.fullName}</p></td>
                    <td><p class="js-lists-values-employee-name">${user.username}</p></td>
                    <td><p class="js-lists-values-employee-name">${user.email}</p></td>
                    <td><p class="js-lists-values-employee-name">${user.phone}</p></td>
                    <td><p class="js-lists-values-employee-name"><span class="${user.activeStatus ? 'badge bg-success' : 'badge bg-danger'}" style="height: 3vh; color: white;">${user.activeStatus ? 'Active' : 'Inactive'}</span></p></td>
                    <td><p class="js-lists-values-employee-name">${new Date(user.createdAt).toLocaleDateString()}</p></td>
                    <td><p class="js-lists-values-employee-name">${user.provider}</p></td>
                    <td>
                      <div style="display: flex; flex-wrap: nowrap; gap: 10px;">
                        ${user.role && user.role.roleName !== 'ROLE_ADMIN' ? `
                          <form id="deactivate" action="/app/admin/users/deactivate" method="post" style="margin: 0;">
                            <input type="hidden" name="uid" value="${user.id}" />
                            <button type="submit" class="btn btn-secondary btn-rounded">${user.activeStatus ? 'Deactivate' : 'Activate'}</button>
                          </form>
                          <form id="update" action="/app/admin/users/update" method="post" style="margin: 0;">
                            <input type="hidden" name="id" value="${user.id}" />
                            <button type="submit" class="btn btn-primary btn-rounded">Modify</button>
                          </form>
                          <form id="delete" action="/app/admin/users/delete" method="post" style="margin: 0;">
                            <input type="hidden" name="uid" value="${user.id}" />
                            <button type="submit" class="btn btn-dark btn-rounded">Delete</button>
                          </form>
                        ` : ''}
                      </div>
                    </td>
                  `;
                  usersList.appendChild(userRow);
                });
              })
              .catch(error => {
                console.error('Error fetching user data:', error);
              });
          });

          const roles = document.querySelectorAll('#usersList tr');
          const pagination = document.getElementById('pagination');
          const itemsPerPage = 10;
          let currentPage = 1;
          const pageCount = Math.ceil(roles.length / itemsPerPage);

          function showPage(page) {
            currentPage = page;
            const start = (page - 1) * itemsPerPage;
            const end = start + itemsPerPage;
            roles.forEach((role, index) => {
              role.style.display = (index >= start && index < end) ? '' : 'none';
            });
            updatePagination();
          }

          function updatePagination() {
            pagination.innerHTML = '';
            const prevPageItem = document.createElement('li');
            prevPageItem.className = 'page-item ' + (currentPage === 1 ? 'disabled' : '');
            prevPageItem.innerHTML = `
              <a class="page-link" href="#" aria-label="Previous" data-page="${currentPage - 1}">
                <span aria-hidden="true" class="material-icons">chevron_left</span>
                <span>Prev</span>
              </a>`;
            pagination.appendChild(prevPageItem);

            for (let i = 1; i <= pageCount; i++) {
              const pageItem = document.createElement('li');
              pageItem.className = 'page-item ' + (i === currentPage ? 'active' : '');
              pageItem.innerHTML = `<a class="page-link" href="#" data-page="${i}">${i}</a>`;
              pagination.appendChild(pageItem);
            }

            const nextPageItem = document.createElement('li');
            nextPageItem.className = 'page-item ' + (currentPage === pageCount ? 'disabled' : '');
            nextPageItem.innerHTML = `
              <a class="page-link" href="#" aria-label="Next" data-page="${currentPage + 1}">
                <span>Next</span>
                <span aria-hidden="true" class="material-icons">chevron_right</span>
              </a>`;
            pagination.appendChild(nextPageItem);
          }

          pagination.addEventListener('click', function(e) {
            const page = e.target.getAttribute('data-page');
            if (page) {
              showPage(parseInt(page));
            }
          });

          showPage(1);
        });
      </script>
    </div>
  </body>
</html>
