<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<style>
    .alert {
        margin-bottom: 20px;
    }
    .alert p {
        margin: 0;
    }
</style>

<div layout:fragment="flashMessage">
    <!-- Success Message -->
    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> <span th:text="${successMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- Error Message -->
    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> <span th:text="${errorMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
</html>